@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css);

body,
html {
    margin: 0px;
    background-color: #202021;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    color: #ccd6f6;
    scroll-behavior: smooth;    
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 15px;
    position: fixed;
    background-color: #2020215d;
    backdrop-filter: blur(10px);
    box-shadow: black;
}

header #burger-button {
    display: none;
    cursor: pointer;
    font-size: 30px;
    margin: 0px 15px;
}

#main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
}

#side-bar {
    display: none;
}

#side-nav {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#side-nav ol {
    list-style: none;
    color: #ccd6f6;
    margin: 0;
    padding: 0;
}

#side-nav ol li a::before {
    content: "-";
    color: #E1CE1D;
    text-align: right;
}

#side-nav #resumeButton {
    color: #E1CE1D;
    border: 1px solid #E1CE1D;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

#side-nav #resumeButton:hover {
    background-color: #3d3808;
}

aside {
    display: none;
}

#styleForList {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#styleForList ol {
    display: flex;
    align-items: center;
    list-style: none;
    color: #ccd6f6;
    margin: 0;
    padding: 0;
}

#styleForList ol li a {
    padding: 10px;
}

#styleForList ol li a::before {
    content: "-";
    color: #E1CE1D;
    text-align: right;
}

#styleForList #resumeButton {
    color: #E1CE1D;
    border: 1px solid #E1CE1D;
    border-radius: 4px;
    padding: 15px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

ol li {
    margin: 0px 5px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a:hover {
    color: #E1CE1D;
}

#styleForList #resumeButton:hover {
    background-color: #3d3808;
}

main {
    display: grid;
    width: 100%;
    height: 100vh;
    float: left;
    justify-items: center;
    justify-content: center;
}

#intro-section {
    padding: 100px;
}

main h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: -3px 2px 4px black;
}

main h4 {
    color: #E1CE1D;
}

main h3 {
    color: gray;
}

main p {
    font-weight: bold;
    color: gray;
}

#name-title {
    margin: 10% 0 0 0;
}

#projects-section {
    color: white;
    padding: 100px;
    width: 100%;
    text-align: center;
}

table {
    position: static;
}

.table {
    border: 3px solid #E1CE1D;
    color: white;
    text-align: center;
}

.table th {
    width: 25%;
}

#contact-section {
    color: white;
    padding: 100px;
    width: 100%;
    text-align: center;
}

#contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

i {
    font-size: 50px;
}

@media (max-width: 768px) {

    header {
        justify-content: space-between;
    }

    header #burger-button {
        display: block;
        position: relative;
        z-index: 2;
    }

    #styleForList {
        display: none;
    }

    #side-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: -400px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        background-color: #202021;
        box-shadow: -10px 0px 30px -15px black;
        z-index: 1;        
        transition: 0.5s cubic-bezier(0.76, 0.01, 0, 1.01);
    }

    #side-bar.active {
        right: 0px;
    }

    #intro-section {
        padding: 100px 70px;
    }

    #projects-section {
        padding: 100px 70px;
    }

    #contact-section {
        padding: 100px 70px;
    }
}

@media (max-width: 425px) {

    main {
        font-size: 12px;
    }

    #side-bar {
        height: 100vh;
        width: 275px;
    }

    main h1 {
        font-size: 35px;
        text-align: center;
    }

    main h3,
    h4 {
        font-size: 15px;
    }

    #intro-section {
        padding: 100px 50px;
    }

    #projects-section {
        padding: 100px 50px;
    }

    #contact-section {
        padding: 100px 50px;
    }

    i {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    
    #styleForList {
        display: none;
    }    

    #intro-section {
        padding: 100px 40px;
    }

    #projects-section {
        padding: 100px 40px;
    }

    #contact-section {
        padding: 100px 40px;
    }
}

@media (max-width: 320px) {
    
    main {
        font-size: 10px;
    }

    main h1 {
        font-size: 35px;
        text-align: center;
    }

    main h3,
    h4 {
        font-size: 15px;
    }

    #side-bar {
        height: 100vh;  
        width: 220px;     
    }

    #intro-section {
        padding: 80px 20px;
    }

    #projects-section {
        padding: 80px 20px;
    }

    #contact-section {
        padding: 80px 20px;
    }

    i {
        font-size: 30px;
    }
}